:root {
  --open: 'Open Sans', sans-serif;
  --oswald: 'Oswald', sans-serif; 

  --pink: #ff00ff;
  --lightpink: #f5d7f9;
  --lightblue: #01ffff;
  --blue: #4272d6;
  --purple: #400265;
  --lightpurple: #722492;

  --gradient: linear-gradient(to right, #52026e, #00003e);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

h2 {
  font-size: 22px;
  font-family: var(--oswald);
  letter-spacing: 1px;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1400px;
  margin: auto;
  padding: 0 15px;
}

.line {
  width: 100px;
  height: 3px;
  background: var(--blue);
}

.triangle {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid var(--lightblue);
  margin: auto;
}

.adminPage {
  background: #dee1e7;
}

.adminContainer {
  padding: 0 15px;
  margin-top: 40px;
}

.pageContent {
  background: white;
  min-height: calc(100vh - 55px);
  padding: 15px;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 2rem;
  }

  .container {
    padding: 0 20px;
  }
}

@media screen and (min-width: 992px) {
  h2 {
    font-size: 2.5rem;
  }

  .adminContainer {
    padding: 20px;
    margin: 0 auto;
    display: flex;
    max-width: 1200px;
  }

  .pageContent {
    width: 100%;
    background: white;
    margin-left: 20px;
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.1);
    min-height: calc(100vh - 40px);
  }
}