:root {
  --open: 'Open Sans', sans-serif;
  --oswald: 'Oswald', sans-serif; 

  --pink: #ff00ff;
  --lightpink: #f5d7f9;
  --lightblue: #01ffff;
  --blue: #4272d6;
  --purple: #400265;

  --gradient: linear-gradient(to right, #52026e, #00003e);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

h2 {
  font-size: 22px;
  font-family: var(--oswald);
  letter-spacing: 1px;
}

.link {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1400px;
  margin: auto;
  padding: 0 15px;
}

.line {
  width: 100px;
  height: 3px;
  background: var(--blue);
}

.triangle {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid var(--lightblue);
  margin: auto;
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 2rem;
  }

  .container {
    padding: 0 20px;
  }
}

@media screen and (min-width: 992px) {
  h2 {
    font-size: 2.5rem;
  }
}