.gameInfoPrice table {
    color: white;
    border: 1px solid var(--pink);
    border-radius: 20px;
    padding: 20px;
    margin: 0 auto;
}

.gameInfoPrice {
    padding-top: 10px;
}

.gameInfoPrice thead{
    color: var(--pink);
    font-weight: 700;
}

.gameInfoPrice td {
    padding-right: 50px;
    padding-top: 10px;
    padding-left: 10px;
}

@media screen and (min-width: 768px) {
    .gameInfoPrice table {
        margin-left: 0;
    }

    .gameInfoPrice {
        flex-grow: unset;
    }


}

