table {
    color: white;
    border: 1px solid var(--pink);
    border-radius: 20px;
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
}

.gameInfoPrice {
    padding-top: 10px;
    flex-grow: 1;
}

.gameInfoPriceWrp {
    padding-bottom: 80px;
}

td {
    padding-right: 50px;
    padding-top: 10px;
    padding-left: 10px;
}

.priceHighlight {
    border-bottom: 2px solid var(--pink);
    padding-top: 4px;
    width: 200%;
    margin-left: 10px;
}

@media screen and (min-width: 768px) {
    table {
        margin-left: 0;
    }
}
