.title {
    font-family: var(--oswald);
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--purple);
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
}