.header {
    background: var(--gradient);
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerLogo {
    display: none;
}

.headerLogoMobile {
    width: 150px;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url(../../images/purple-bg-simple.webp) no-repeat center center;
    background-size: cover;
    color: var(--pink);
    font-family: var(--oswald);
    letter-spacing: 1px;
    font-size: 20px;
    text-align: center;
    padding-top: 50px;
    transform: translateX(100%);
    transition: .5s ease-in-out;
    text-transform: uppercase;
    font-weight: 700;
}

.navList {
    list-style: none;
    padding: 50px 0 0;
}

.navListItem {
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}

.navListItem::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: calc(50% - 25px);
    width: 50px;
    height: 3px;
    background: var(--blue);
}

.navListItem:last-child::after {
    display: none;
}

.navBtn {
    width: 20px;
    height: 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
}

.navBtn span {
    width: 100%;
    height: 2px;
    background: var(--pink);
}

.navClose {
    display: flex;
    justify-content: flex-end;
    padding: 0 20px;
}

.navCloseButton {
    width: 30px;
    cursor: pointer;
}

@media screen and (min-width: 992px) {

    .headerLogo {
        display: block;
        width: 150px;
    }
    
    .headerLogoMobile {
        display: none;
    }

    .nav {
        position: relative;
        top: unset;
        left: unset;
        width: initial;
        height: initial;
        background: none;
        color: var(--pink);
        text-align: left;
        padding-top: 0;
        transform: translateX(0) !important;
        font-weight: 500;
    }

    .navList {
        display: flex;
        padding: 0 0 10px;
        border-bottom: 2px solid var(--blue);
    }

    .navListItem {
        margin: 0 20px;
        padding: 0;
    }

    .navListItem::after {
        display: none;
    }

    .navLink {
        transition: .2s ease-in-out;
    }

    .navLink:hover {
        color: var(--lightblue);
    }

    .navBtn,
    .navCloseButton {
        display: none;
    }
}