.vote h3 {
    margin: 0 auto 40px;
    max-width: 450px;
}

@media screen and (min-width: 768px) {
    .vote {
        flex-direction: column;
    }
}

@media screen and (min-width: 1200px) {
    .vote {
        padding: 40px;
    }
}